<div class="wrapper">
  <div id="navbar1" class="navbar">
    <ul class="navbar-list">
      <li>CAREER</li>
      <li>PRESS</li>
      <li>CONTACT</li>
      <li>LEICA FOTOPARK</li>
      <li>MEMBERS` AREA</li>
    </ul>
    <ul class="navbar-list">
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7tYngTpKpy0FxoUC_g5sMdXa3oxhVpoWSERJ9tpEbPHDJTnk5" alt="American Flag"></li>
      <li>ENGLISH</li>
    </ul>
  </div>
  <div id="navbar2" class="navbar">
    <ul class="navbar-list">
      <li><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Leica_Camera_logo.svg/2000px-Leica_Camera_logo.svg.png" alt="Leica logo"></li>
      <li>MENU</li>
      <li>|||</li>
    </ul>
    <ul class="navbar-list">
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq5lFzdZqFxJi7NE8946DxzkOgaa7TzQliTAJayN08N9C_I7HZ"></li>
      <li><button>ONLINE STORE</button></li>
    </ul>
  </div>
  <div id="add1" class="ad">
    <img src="https://us.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/photography/sl-system/leica-sl-typ-601/sl-refresh/objektive/apo-summicron-sl-1-2-75/tokyo-keyvisual-en/2449757-1-eng-MA/Tokyo-KeyVisual-EN_teaser-2400x840.jpg" alt="Leica ad">
  </div>
  <div id="button-navbar">
    <ul>
      <li>Upcoming Events</li>
      <li>Take a Leica for a Spin</li>
      <li>Leica M10</li>
      <li>Leica Akademie</li>
      <li>New Leica SL-Lens</li>
    </ul>
  </div>
  <div id="first-body-block">
    <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/local-regional/news/usa/20172/sl-s-ambient/2451268-1-eng-MA/SL-S-ambient_teaser-756x504.jpg" alt="A beautiful Leica Camera">
    <div id="lease">
      <h5>SPECIAL FINANCING OFFER:</h5>
      <h3>Lease the Leica S & SL --></h3>
    </div>
    <img id="body-image" src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/local-regional/news/usa/20172/leica-s-007-teaser/2427926-1-eng-MA/Leica-S-007-Teaser_teaser-307x205.png" alt="A beautiful Leica Camera">
    <h3 id="trade">Trade In/Trade Up Program</h3>
    <img id="india" src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/local-regional/events/usa/2018/india-2/2604467-1-eng-MA/India-2_teaser-405x270.jpg">
    <h3 id="black-background">Leica Destination Series</h3>
  </div>
  <div id="highlights-title">
    <h1>PRODUCT HIGHLIGHTS</h1>
  </div>
  <div id="product-highlights">
    <div class="highlight-item" id="item1">
      <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/starting-page/product-highlights/leica-m-typ-240/2012192-1-eng-MA/Leica-M-Typ-240_teaser-307x205.png" alt="">
      <p>LEICA M</p>
      <h4>TYP 240</h4>
    </div>
    <div class="highlight-item" id="item2">
      <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/starting-page/product-highlights/new/leica-q/2485313-1-eng-MA/Leica-Q_teaser-307x205.png" alt="">
      <p>LEICA Q</p>
      <h4>Full-frame sensor, fixed focal length, unlimited creativity</h4>
    </div>
    <div class="highlight-item" id="item3">
      <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/sport-optics/binoculars/leica-noctivid/noctivid-product-highlights/2013738-1-eng-MA/Noctivid-Product-Highlights_teaser-307x205.png" alt="">
      <p>LEICA LEICA NOCTIVID</p>
      <h4>A century of knowledge has come to life</h4>
    </div>
  </div>
  <h1 id="dates-title">LEICA DATES AND EVENTS</h1>
  <div id="dates-and-events">
    <div id="dates-events-image">
      <img id="leica" src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/local-regional/events/usa/2018/leica-sl-product/2487644-1-eng-MA/Leica-SL-Product_teaser-1200x470.jpg" alt="">
    </div>
    <div id="dates-events-info">
      <p>LEICA EVENTS</p>
      <h3>Chasing Light</h3>
      <p>04/21/2018 - 12/01/2018 | Boston, Las Vegas, Leica Store Washington DC, New York City</p>
      <br>
      <p>LEICA GALLERY</p>
      <h3>The Sevret Garden of Lily LaPalma by Maggie Steber</h3>
      <p>05/03/2018 - 07/08/2018 | Gallery Boston</p>
      <br>
      <p>LEICA STORE</p>
      <h3>Leica Pro Discovery Days</h3>
      <p>05/05/2018 - 06/03/2018 | Boston, Leica Store Washington DC, New York City</p>
    </div>
  </div>
  <div class="red-add">
    <p id="alignme">LEICA NEWSLETTER</p>
    <h2 id="centerme">Keep up to date with all Leika events and news by signing up to our newsletter.</h2>
  </div>
  <h1 id="add-margin">LEICA CAMERA BLOG</h1>
  <div id="streets-of-new-york">
    <img id="streets" src="https://us.leica-camera.com/resizer/image?width=1352&height=904&url=http://blog.leica-camera.com/wp-content/uploads/170513_NYC_Series_008.jpg" alt="">
    <img id="street2" src="https://us.leica-camera.com/resizer/image?width=656&height=452&url=http://blog.leica-camera.com/wp-content/uploads/HARBIN-ZVEREFF-1-e1526476857348.jpg" alt="">
    <img id="street3" src="https://us.leica-camera.com/resizer/image?width=656&height=452&url=http://blog.leica-camera.com/wp-content/uploads/higbee_10.jpg" alt="">
  </div>
  <div id="offers">
    <div id="offer1" class="space">
      <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/world-of-leica/news/photography2/2018/adobe-2018/adobe-ccpp-lockup-stacked-2lines-bg-ffffff-1512x1008/2546445-1-eng-MA/Adobe-CCPp-lockup-stacked-2lines-BG-ffffff-1512x1008_teaser-307x205.png" alt="">
      <h3>3 MONTH MEMBERSHIP</h3>
      <p>With your 3 month membership of the Adobe Creative Cloud Photography plan, you can unleash your visual creativity with professional imaging tools from Adobe and get 20GB of cloud storage.</p>
    </div>
    <div id="offer2" class="space">
      <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/world-of-leica/leica-fotopark/fotopark-discover-teaser/1819632-1-eng-MA/Fotopark-discover-teaser_teaser-307x205.png" alt="">
      <h3>Leica Fotopark</h3>
      <p>Show how you see the world – in Leica Fotopark, our platform for exceptional photography.</p>
    </div>
    <div id="offer3" class="space">
      <img src="https://static.leica-camera.com/var/leica/storage/images/media/media-asset-management-mam/global-international/world-of-leica/lfi-magazine/lfi-magazine-feature/1075106-2-eng-MA/LFI-Magazine-Feature_teaser-307x205.png" alt="">
      <h3>LFI - The Leica Magazine</h3>
      <p>Stories, reports, tips and icons from the past, present and future</p>
    </div>
  </div>
  <div class="red-add">
    <p id="alignme">LEICA NEWSLETTER</p>
    <h2 id="centerme">Keep up to date with all Leika events and news by signing up to our newsletter.</h2>
  </div>
  <div id="footer">
    <ul id="footer-ul">
      <li>INFO CENTRE</li>
      <li>AFFILIATES</li>
      <li>LOGIN/SIGNUP</li>
      <li>NEWS PER E-MAIL</li>
      <li>BLOG</li>
      <li>FOLLOW US</li>
    </ul>
  </div>
</div>
