* {
  font-family: arial;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  background-color: #f4f4f4;
}

.navbar {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;

}

li > button {
  background-color: red;
  border: none;
  border-radius: 1px;
  height: 30px;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}

.navbar:first-of-type {
  font-size: 10pt;
  background-color: #262626;
  border: 1px solid lightgray;
  color: gray;
  font-weight: bolder;
}

.navbar:nth-of-type(2) {
  font-size: 12pt;
  background-color: black;
  border: none;
  font-family: arial;
  color: white;
  font-weight: normal;
  height: 75px;
  align-items: center;
}


.navbar:first-of-type img {
  height: 10px;
}

.navbar-list {
  flex-wrap: wrap;
}

.navbar-list #logo {
  height: 55px;
}

.navbar:nth-of-type(2) img:last-of-type {
  height: 25px;
  margin-right: 25px;
}

ul {
  list-style: none;
  display: flex;
}

.navbar-list:first-of-type > li {
margin-right: 20px;
}

#add1 {
  grid-column: 1 / 4;
  display: flex;
  flex-basis: 1300px;
}

#add1 > img {
  width: 100%;
  height: 500px;
}

#button-navbar {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-around;
  height: 88px;
  margin-bottom: 60px;
}
 #button-navbar > ul > li {
   display: flex;
   margin: 0 30px;
   color: gray;
   padding-left: 30px;
   border-left: 1px solid lightgray;
   align-items: center;
 }

 #button-navbar > ul > li:last-of-type {
   padding-right: 30px;
   border-right: 1px solid lightgray;
 }

 #button-navbar > ul > li:first-of-type {
   color: #262626;
   border-bottom: 4px solid darkred;
 }

 #first-body-block {
    grid-column: 1 / 4;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 60px);
    margin-left: 10%;
 }

 #first-body-block img {
   width: 100%;
   height: 500px;
   grid-column: 1 / 3;
   grid-row: 1 / 8;
 }
 #lease {
   grid-column: 1 / 3;
   grid-row: 8 / 10;
   background-color: white;
   border: 1px solid lightgray;
   padding: 20px;
 }

 #first-body-block #body-image {
   max-width: 275px;
   max-height: 200px;
   grid-column: 3 / 4;
   grid-row: 1 / 4;
   margin-right: 25px;
   margin-left: 25px;
 }

 #first-body-block #trade {
   grid-column: 3 / 4;
   grid-row: 4 / 5;
   margin-left: 25px;
   background-color: white;
   height: 55px;
 }

 #first-body-block img#india {
   max-width: 375px;
   max-height: 275px;
   grid-column: 3 / 4;
   grid-row: 5 / 10;
   margin-left: 25px;
 }

 #first-body-block #black-background {
   display: flex;
   grid-column: 3 / 4;
   grid-row: 9 / 10;
   padding-left: 10px;
   margin-left: 25px;
   margin-right: 25px;
   background-color: black;
   color: white;
   height: 68px;
   align-items: center;
   max-width: 275px;
 }

#highlights-title {
  margin-top: 88px;
  margin-left: 75px;
  grid-column: 1 / 4;
  max-height: 100px;
}

#product-highlights {
  display: flex;
  justify-content: center;
  grid-column: 1 / 4;

}

.highlight-item {
  max-width: 300px;
  margin: 0 15px;
}

h1#dates-title {
  margin-top: 88px;
  margin-left: 75px;
  grid-column: 1 / 4;
  max-height: 100px;
}

#dates-and-events {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column: 1 / 4;
}

#dates-events-image {
  margin-left: 90px;
  grid-column: 1 / 2;
}

#dates-events-info {
  background-color: white;
  grid-column: 2 / 4;
  padding-left: 70px;
  padding-right: 70px;
  max-width: 100%;
  max-height: 475px
}

#dates-events-info p {
  font-size: 10pt;
}

.red-add  {
  height: 175px;
  background-color: darkred;
  grid-column: 1 / 4;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

p#alignme {
  align-self: flex-start;
  padding-left: 115px;
}

h2#centerme {
  align-self: center;
}

#streets-of-new-york {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
}

#streets {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 1 / 3;
}

#street2 {
  width: 100%;
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}

#street3 {
  width: 100%;
  grid-column: 6 / 8;
  grid-row: 2 / 3;
}

#add-margin {
  margin-left: 150px;
  grid-column: 1 / 4;
}

#offers {
  margin-top: 75px;
  margin-bottom: 75px;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
}

.space {
  margin: 0 15px;
  max-width: 350px;
}

#footer {
  grid-column: 1 / 4;
}

#footer-ul {
  list-style: none;
  display: block;
  background-color: #262626;
  border-top: 1px solid gray;
}

#footer-ul > li  {
    border-bottom: 1px solid gray;
    color: white;
    font-size: 11pt;
    font-weight: bolder;
    line-height: 70px;
}
